    <div id="clientes" class="container mt-5 mb-5 p-5 text-center">
        <div class="row mt-5">
            <div class="col-sm-12">
                <h1 class="h2-homepage">Quem cresce<br>com a Ref.</h1>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            {% if clientes %}
                {% for cliente in clientes %}
                    <div class="col-sm-3 mt-3 item-cliente text-align-left">
                        <div style="height: 170px;">
                        <img src="{{ url_for('static', filename='imagens_cliente/{}'.format(cliente.logo)) }}" class="rounded mt-3" width="150"><br>
                        </div>
                        <p class="tf-20-b mt-1 text-left">{{ cliente.empresa }}</p>
                        <p class="tf-15-b">{{ cliente.nome }}</p>
                        <p class="tf-10-b">{{ cliente.cargo }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-3 mt-3 item-cliente">
                    <img src="{{ url_for('static', filename='imagens_cliente/default.png') }}" class="rounded" width="100"><br>
                    Empresa<br>
                    Nome<br>
                    Cargo<br>
                </div>
            {% endif %}
        </div>
    </div>
