{% extends 'principal.html' %}

{% block formulario %}
    <div class="container">
        <div class="row mt-3 p-2">
            <div class="col">
                <form method="POST" action="" class="border border-dark-subtle m-3 p-3">
                    {{ form.csrf_token }}
                    <legend>Editar Card de Resultados</legend>
                    <fieldset>
                        <div class="form-group m-1">
                            {{ form.titulo.label(class='form-control-label') }}
                            {% if form.titulo.errors %}
                                {{ form.titulo(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                {% for erro in form.titulo.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.titulo(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.texto_titulo.label(class='form-control-label') }}
                            {% if form.texto_titulo.errors %}
                                {{ form.texto_titulo(class='form-control is-invalid r-5') }}
                                <div class="invalid-feedback">
                                {% for erro in form.texto_titulo.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.texto_titulo(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.subtitulo1.label(class='form-control-label') }}
                            {% if form.subtitulo1.errors %}
                                {{ form.subtitulo1(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                {% for erro in form.subtitulo1.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.subtitulo1(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.texto_subt1.label(class='form-control-label') }}
                            {% if form.texto_subt1.errors %}
                                {{ form.texto_subt1(class='form-control is-invalid r-5') }}
                                <div class="invalid-feedback">
                                {% for erro in form.texto_subt1.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.texto_subt1(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.subtitulo2.label(class='form-control-label') }}
                            {% if form.subtitulo2.errors %}
                                {{ form.subtitulo2(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                {% for erro in form.subtitulo2.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.subtitulo2(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.texto_subt2.label(class='form-control-label') }}
                            {% if form.texto_subt2.errors %}
                                {{ form.texto_subt2(class='form-control is-invalid r-5') }}
                                <div class="invalid-feedback">
                                {% for erro in form.texto_subt2.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.texto_subt2(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.subtitulo3.label(class='form-control-label') }}
                            {% if form.subtitulo3.errors %}
                                {{ form.subtitulo3(class='form-control is-invalid') }}
                                <div class="invalid-feedback">
                                {% for erro in form.subtitulo3.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.subtitulo3(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.texto_subt3.label(class='form-control-label') }}
                            {% if form.texto_subt3.errors %}
                                {{ form.texto_subt3(class='form-control is-invalid r-5') }}
                                <div class="invalid-feedback">
                                {% for erro in form.texto_subt3.errors %}
                                    {{ erro }}
                                {% endfor %}
                                </div>
                            {% else %}
                                {{ form.texto_subt3(class='form-control border border-dark-subtle') }}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form.botao_editarresultado(class='btn btn-dark mt-2 w-100') }}
                    <a href="#" class='btn btn-danger mt-3 w-100' data-bs-toggle="modal" data-bs-target="#excluirresultado">Excluir Card de Resultado</a><br>
                </form>
            </div>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="excluirresultado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Card de Resultados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você deseja realmente excluir esta Card de Resultados?<br>Esta ação não poderá ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="POST" action="{{ url_for('excluir_resultado', resultado_id=resultado_id) }}">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

