    <div id="resultados" class="container mt-5 mb-5 text-left">
        <div class="row">
            <div class="col-sm-6 caixa_topico_esquerda"><br>
                <h1 class="m-3 pt-3 h1-homepage">Dados que<br>atestam<br>nosso impacto.</h1>
                <h4 class="m-1 pt-3 h4-homepage">RESULTADOS GUIADOS POR<br>ESTRATÉGIA E DADOS.</h4>
            </div>
            <div class="col-sm-6 mt-4 pt-2 caixa_topico_direita">
                {% for resultado in resultados %}
                    <div class="pt-2 ps-2 mt-2 me-2 formata-card">
                        <p class="m-2 tf-35-p" style="width: 300px;">{{ resultado.titulo }}</p>
                        <p class="m-2 tf-20-p">{{ resultado.texto_titulo }}</p>
                        <p class="m-2 tf-35-p">{{ resultado.subtitulo1 }}</p>
                        <p class="m-2 tf-15-p">{{ resultado.texto_subt1 }}</p>
                        <p class="m-2 tf-35-p">{{ resultado.subtitulo2 }}</p>
                        <p class="m-2 tf-15-p">{{ resultado.texto_subt2 }}</p>
                        <p class="m-2 tf-35-p">{{ resultado.subtitulo3 }}</p>
                        <p class="m-2 tf-15-p">{{ resultado.texto_subt3 }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
    </div>
