
    <div id="rodape" class="container-fluid pt-3" style="height: 100px; background-image: url({{ url_for('static', filename='imagens/fundo_barra_rodape.png') }});">
        <div class="row">
            <div class="col-sm-4">
                <p class="pt-2 px-3 p3-homepage" style="text-align: center; color: #ffffff;">© Ref.Digital - Todos os Direitos Reservados</p>
                <p class="pt-2 px-3 p3-homepage" style="text-align: center; color: #ffffff;">contato@refdigital.com.br</p>
            </div>
            <div class="col-sm-4">
                <p class="pt-4 px-3 p3-homepage" style="text-align: center; color: #ffffff;">Estratégia • Branding • Performance</p>
            </div>
            <div class="col-sm-4">
                <p class="pt-1 px-3 p3-homepage" style="text-align: center; color: #ffffff;">
                    <a href="{{ whatsapp_link }}" target="_blank"><img src="{{ url_for('static', filename='imagens/bt_whatsapp.png') }}" height="60" width="60"/></a>
                    <a href="{{ instagra_link }}" target="_blank"><img src="{{ url_for('static', filename='imagens/bt_instagram.png') }}" height="60" width="60"/></a>
                    <!--a href="http://wwww.linkedin.com/refdigital" target="_blank"><img src="{{ url_for('static', filename='imagens/bt_linkedin.png') }}" height="60" width="60"/></a--
                </p>
            </div>
        </div>
    </div>
