    <div id="rodape" class="container-fluid" style="height: 70px; background-image: url({{ url_for('static', filename='imagens/fundo_barra_contato.png') }});">
        <div class="row">
            <div class="col col4">
                <p class="pt-4 px-3 p2-homepage" style="text-align: left; color: #ffffff;">© Ref.Digital - Todos os Direitos Reservados</p>
            </div>
            <div class="col col4">
                <p class="pt-4 px-3 p2-homepage" style="text-align: center; color: #ffffff;">Estratégia • Branding • Performance</p>
            </div>
            <div class="col col4">
                <p class="pt-4 px-3 p2-homepage" style="text-align: right; color: #ffffff;">contato@refdigital.com.br</p>
            </div>
        </div>
    </div>
